Shapes.API/.vs/Shapes.API/config/applicationhost.config
Shapes.API/.vs/Shapes.API/DesignTimeBuild/.dtbcache.v2
Shapes.API/.vs/Shapes.API/v16/.suo
Shapes.API/.vs/Shapes.API/v16/TestStore/0/006.testlog
Shapes.API/.vs/Shapes.API/v16/TestStore/0/testlog.manifest
Shapes.API/Shapes.API.Tests/bin/
Shapes.API/Shapes.API.Tests/obj/
Shapes.API/Shapes.API/bin/Debug/netcoreapp3.1/appsettings.Development.json
Shapes.API/Shapes.API/bin/
Shapes.API/Shapes.API/obj/
